	#light {
		height: 120px;
		width : 120px;
		border-radius: 50%;
		margin: 0 auto;
		display: inline-block;
	}
	.stop {background-color: red;}
	.go {background-color: green;}
	body {
		background-color : black;
		text-align: center;
		color :white;
		font-family: Helvetica;
	}
	p {
		padding: 1em;
		font-weight: bold;
	}
	h2 {
		text-decoration: underline
	}
	.led-red {
		margin: 0 auto;
		background-color: #F00;
		border-radius: 50%;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #f00 0 2px 12px;
	}

	.led-green {
		margin: 0 auto;
		background-color: #ABFF00;
		border-radius: 50%;
		box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
	}