set_location CLKOS_RNI7KOJ1 7 2 4 # SB_LUT4 (LogicCell: CLKOS_RNI7KOJ1_LC_0)
set_location CLKOS_RNO 7 2 7 # SB_LUT4 (LogicCell: CLKOS_LC_1)
set_location CLKOS 7 2 7 # SB_DFF (LogicCell: CLKOS_LC_1)
set_location clk_count_RNIHMLO[5] 8 3 4 # SB_LUT4 (LogicCell: clk_count_RNIHMLO[5]_LC_2)
set_location clk_count_RNO[0] 9 3 7 # SB_LUT4 (LogicCell: clk_count[0]_LC_3)
set_location clk_count[0] 9 3 7 # SB_DFF (LogicCell: clk_count[0]_LC_3)
set_location clk_count_RNO_0[1] 8 3 2 # SB_LUT4 (LogicCell: clk_count_RNO_0[1]_LC_4)
set_location clk_count_RNO_0[3] 8 4 2 # SB_LUT4 (LogicCell: clk_count_RNO_0[3]_LC_5)
set_location un3_clk_count_cry_3_c 8 4 2 # SB_CARRY (LogicCell: clk_count_RNO_0[3]_LC_5)
set_location clk_count_RNO[1] 8 3 3 # SB_LUT4 (LogicCell: clk_count[1]_LC_6)
set_location clk_count[1] 8 3 3 # SB_DFF (LogicCell: clk_count[1]_LC_6)
set_location clk_count_RNO[2] 8 4 1 # SB_LUT4 (LogicCell: clk_count[2]_LC_7)
set_location clk_count[2] 8 4 1 # SB_DFF (LogicCell: clk_count[2]_LC_7)
set_location un3_clk_count_cry_2_c 8 4 1 # SB_CARRY (LogicCell: clk_count[2]_LC_7)
set_location clk_count_RNO[3] 8 4 6 # SB_LUT4 (LogicCell: clk_count[3]_LC_8)
set_location clk_count[3] 8 4 6 # SB_DFF (LogicCell: clk_count[3]_LC_8)
set_location clk_count_RNO[4] 8 4 3 # SB_LUT4 (LogicCell: clk_count[4]_LC_9)
set_location clk_count[4] 8 4 3 # SB_DFF (LogicCell: clk_count[4]_LC_9)
set_location un3_clk_count_cry_4_c 8 4 3 # SB_CARRY (LogicCell: clk_count[4]_LC_9)
set_location clk_count_RNO[5] 8 4 4 # SB_LUT4 (LogicCell: clk_count[5]_LC_10)
set_location clk_count[5] 8 4 4 # SB_DFF (LogicCell: clk_count[5]_LC_10)
set_location count_RNIGEIG[3] 8 3 7 # SB_LUT4 (LogicCell: count_RNIGEIG[3]_LC_11)
set_location count_RNIH42R1[2] 8 3 5 # SB_LUT4 (LogicCell: count_RNIH42R1[2]_LC_12)
set_location count_RNITIVF[1] 8 3 6 # SB_LUT4 (LogicCell: count_RNITIVF[1]_LC_13)
set_location count_RNO[0] 7 3 1 # SB_LUT4 (LogicCell: count[0]_LC_14)
set_location count[0] 7 3 1 # SB_DFFE (LogicCell: count[0]_LC_14)
set_location count_RNO[1] 7 3 3 # SB_LUT4 (LogicCell: count[1]_LC_15)
set_location count[1] 7 3 3 # SB_DFFE (LogicCell: count[1]_LC_15)
set_location count_RNO[2] 7 3 2 # SB_LUT4 (LogicCell: count[2]_LC_16)
set_location count[2] 7 3 2 # SB_DFFE (LogicCell: count[2]_LC_16)
set_location count_RNO[3] 7 3 0 # SB_LUT4 (LogicCell: count[3]_LC_17)
set_location count[3] 7 3 0 # SB_DFFE (LogicCell: count[3]_LC_17)
set_location count_ext_RNIEM1Q[1] 7 2 1 # SB_LUT4 (LogicCell: count_ext_RNIEM1Q[1]_LC_18)
set_location count_ext_RNO[0] 8 1 0 # SB_LUT4 (LogicCell: count_ext[0]_LC_19)
set_location count_ext[0] 8 1 0 # SB_DFFE (LogicCell: count_ext[0]_LC_19)
set_location count_ext_RNO[1] 6 2 0 # SB_LUT4 (LogicCell: count_ext[1]_LC_20)
set_location count_ext[1] 6 2 0 # SB_DFFE (LogicCell: count_ext[1]_LC_20)
set_location count_ext_RNO[2] 7 1 1 # SB_LUT4 (LogicCell: count_ext[2]_LC_21)
set_location count_ext[2] 7 1 1 # SB_DFFE (LogicCell: count_ext[2]_LC_21)
set_location un5_count_ext_cry_2_c 7 1 1 # SB_CARRY (LogicCell: count_ext[2]_LC_21)
set_location count_ext_RNO[3] 7 1 2 # SB_LUT4 (LogicCell: count_ext[3]_LC_22)
set_location count_ext[3] 7 1 2 # SB_DFFE (LogicCell: count_ext[3]_LC_22)
set_location un5_count_ext_cry_3_c 7 1 2 # SB_CARRY (LogicCell: count_ext[3]_LC_22)
set_location count_ext_RNO[4] 7 1 3 # SB_LUT4 (LogicCell: count_ext[4]_LC_23)
set_location count_ext[4] 7 1 3 # SB_DFFE (LogicCell: count_ext[4]_LC_23)
set_location from_ir_reg2_RNIPD7L 7 2 6 # SB_LUT4 (LogicCell: from_ir_reg2_RNIPD7L_LC_24)
set_location rst_count_RNI10FM[7] 7 3 4 # SB_LUT4 (LogicCell: rst_count_RNI10FM[7]_LC_25)
set_location rst_count_RNI3HF2[19] 2 6 1 # SB_LUT4 (LogicCell: rst_count_RNI3HF2[19]_LC_26)
set_location rst_count_RNI82L61[10] 6 2 6 # SB_LUT4 (LogicCell: rst_count_RNI82L61[10]_LC_27)
set_location rst_count_RNIV23E1[12] 6 2 7 # SB_LUT4 (LogicCell: rst_count_RNIV23E1[12]_LC_28)
set_location rst_count_RNIVCHL1[15] 5 3 0 # SB_LUT4 (LogicCell: rst_count_RNIVCHL1[15]_LC_29)
set_location rst_count_RNIVN0T1[20] 5 4 6 # SB_LUT4 (LogicCell: rst_count_RNIVN0T1[20]_LC_30)
set_location rst_count_RNO[0] 6 5 4 # SB_LUT4 (LogicCell: rst_count[0]_LC_31)
set_location rst_count[0] 6 5 4 # SB_DFFE (LogicCell: rst_count[0]_LC_31)
set_location rst_count_RNO[1] 6 5 6 # SB_LUT4 (LogicCell: rst_count[1]_LC_32)
set_location rst_count[1] 6 5 6 # SB_DFFE (LogicCell: rst_count[1]_LC_32)
set_location rst_count_RNO[10] 6 4 1 # SB_LUT4 (LogicCell: rst_count[10]_LC_33)
set_location rst_count[10] 6 4 1 # SB_DFFE (LogicCell: rst_count[10]_LC_33)
set_location rst_count_1_cry_10_c 6 4 1 # SB_CARRY (LogicCell: rst_count[10]_LC_33)
set_location rst_count_RNO[11] 6 4 2 # SB_LUT4 (LogicCell: rst_count[11]_LC_34)
set_location rst_count[11] 6 4 2 # SB_DFFE (LogicCell: rst_count[11]_LC_34)
set_location rst_count_1_cry_11_c 6 4 2 # SB_CARRY (LogicCell: rst_count[11]_LC_34)
set_location rst_count_RNO[12] 6 4 3 # SB_LUT4 (LogicCell: rst_count[12]_LC_35)
set_location rst_count[12] 6 4 3 # SB_DFFE (LogicCell: rst_count[12]_LC_35)
set_location rst_count_1_cry_12_c 6 4 3 # SB_CARRY (LogicCell: rst_count[12]_LC_35)
set_location rst_count_RNO[13] 6 4 4 # SB_LUT4 (LogicCell: rst_count[13]_LC_36)
set_location rst_count[13] 6 4 4 # SB_DFFE (LogicCell: rst_count[13]_LC_36)
set_location rst_count_1_cry_13_c 6 4 4 # SB_CARRY (LogicCell: rst_count[13]_LC_36)
set_location rst_count_RNO[14] 6 4 5 # SB_LUT4 (LogicCell: rst_count[14]_LC_37)
set_location rst_count[14] 6 4 5 # SB_DFFE (LogicCell: rst_count[14]_LC_37)
set_location rst_count_1_cry_14_c 6 4 5 # SB_CARRY (LogicCell: rst_count[14]_LC_37)
set_location rst_count_RNO[15] 6 4 6 # SB_LUT4 (LogicCell: rst_count[15]_LC_38)
set_location rst_count[15] 6 4 6 # SB_DFFE (LogicCell: rst_count[15]_LC_38)
set_location rst_count_1_cry_15_c 6 4 6 # SB_CARRY (LogicCell: rst_count[15]_LC_38)
set_location rst_count_RNO[16] 6 4 7 # SB_LUT4 (LogicCell: rst_count[16]_LC_39)
set_location rst_count[16] 6 4 7 # SB_DFFE (LogicCell: rst_count[16]_LC_39)
set_location rst_count_1_cry_16_c 6 4 7 # SB_CARRY (LogicCell: rst_count[16]_LC_39)
set_location rst_count_RNO[17] 6 5 0 # SB_LUT4 (LogicCell: rst_count[17]_LC_40)
set_location rst_count[17] 6 5 0 # SB_DFFE (LogicCell: rst_count[17]_LC_40)
set_location rst_count_1_cry_17_c 6 5 0 # SB_CARRY (LogicCell: rst_count[17]_LC_40)
set_location rst_count_RNO[18] 6 5 1 # SB_LUT4 (LogicCell: rst_count[18]_LC_41)
set_location rst_count[18] 6 5 1 # SB_DFFE (LogicCell: rst_count[18]_LC_41)
set_location rst_count_1_cry_18_c 6 5 1 # SB_CARRY (LogicCell: rst_count[18]_LC_41)
set_location rst_count_RNO[19] 6 5 2 # SB_LUT4 (LogicCell: rst_count[19]_LC_42)
set_location rst_count[19] 6 5 2 # SB_DFFE (LogicCell: rst_count[19]_LC_42)
set_location rst_count_1_cry_19_c 6 5 2 # SB_CARRY (LogicCell: rst_count[19]_LC_42)
set_location rst_count_RNO[2] 6 3 1 # SB_LUT4 (LogicCell: rst_count[2]_LC_43)
set_location rst_count[2] 6 3 1 # SB_DFFE (LogicCell: rst_count[2]_LC_43)
set_location rst_count_1_cry_2_c 6 3 1 # SB_CARRY (LogicCell: rst_count[2]_LC_43)
set_location rst_count_RNO[20] 6 5 3 # SB_LUT4 (LogicCell: rst_count[20]_LC_44)
set_location rst_count[20] 6 5 3 # SB_DFFE (LogicCell: rst_count[20]_LC_44)
set_location rst_count_RNO[3] 6 3 2 # SB_LUT4 (LogicCell: rst_count[3]_LC_45)
set_location rst_count[3] 6 3 2 # SB_DFFE (LogicCell: rst_count[3]_LC_45)
set_location rst_count_1_cry_3_c 6 3 2 # SB_CARRY (LogicCell: rst_count[3]_LC_45)
set_location rst_count_RNO[4] 6 3 3 # SB_LUT4 (LogicCell: rst_count[4]_LC_46)
set_location rst_count[4] 6 3 3 # SB_DFFE (LogicCell: rst_count[4]_LC_46)
set_location rst_count_1_cry_4_c 6 3 3 # SB_CARRY (LogicCell: rst_count[4]_LC_46)
set_location rst_count_RNO[5] 6 3 4 # SB_LUT4 (LogicCell: rst_count[5]_LC_47)
set_location rst_count[5] 6 3 4 # SB_DFFE (LogicCell: rst_count[5]_LC_47)
set_location rst_count_1_cry_5_c 6 3 4 # SB_CARRY (LogicCell: rst_count[5]_LC_47)
set_location rst_count_RNO[6] 6 3 5 # SB_LUT4 (LogicCell: rst_count[6]_LC_48)
set_location rst_count[6] 6 3 5 # SB_DFFE (LogicCell: rst_count[6]_LC_48)
set_location rst_count_1_cry_6_c 6 3 5 # SB_CARRY (LogicCell: rst_count[6]_LC_48)
set_location rst_count_RNO[7] 6 3 6 # SB_LUT4 (LogicCell: rst_count[7]_LC_49)
set_location rst_count[7] 6 3 6 # SB_DFFE (LogicCell: rst_count[7]_LC_49)
set_location rst_count_1_cry_7_c 6 3 6 # SB_CARRY (LogicCell: rst_count[7]_LC_49)
set_location rst_count_RNO[8] 6 3 7 # SB_LUT4 (LogicCell: rst_count[8]_LC_50)
set_location rst_count[8] 6 3 7 # SB_DFFE (LogicCell: rst_count[8]_LC_50)
set_location rst_count_1_cry_8_c 6 3 7 # SB_CARRY (LogicCell: rst_count[8]_LC_50)
set_location rst_count_RNO[9] 6 4 0 # SB_LUT4 (LogicCell: rst_count[9]_LC_51)
set_location rst_count[9] 6 4 0 # SB_DFFE (LogicCell: rst_count[9]_LC_51)
set_location rst_count_1_cry_9_c 6 4 0 # SB_CARRY (LogicCell: rst_count[9]_LC_51)
set_location shift_reg1_RNI2NK03[0] 5 3 3 # SB_LUT4 (LogicCell: shift_reg1_RNI2NK03[0]_LC_52)
set_location shift_reg1_RNI6DD7[4] 5 3 2 # SB_LUT4 (LogicCell: shift_reg1_RNI6DD7[4]_LC_53)
set_location shift_reg1_RNI82OT[15] 5 2 0 # SB_LUT4 (LogicCell: shift_reg1_RNI82OT[15]_LC_54)
set_location shift_reg1_RNIMSC7[0] 4 4 0 # SB_LUT4 (LogicCell: shift_reg1_RNIMSC7[0]_LC_55)
set_location shift_reg1_RNIUA2K1[11] 5 2 6 # SB_LUT4 (LogicCell: shift_reg1_RNIUA2K1[11]_LC_56)
set_location shift_reg1_RNO[0] 4 4 7 # SB_LUT4 (LogicCell: shift_reg1[0]_LC_57)
set_location shift_reg1[0] 4 4 7 # SB_DFFE (LogicCell: shift_reg1[0]_LC_57)
set_location shift_reg1_RNO_0[0] 4 3 6 # SB_LUT4 (LogicCell: shift_reg1_RNO_0[0]_LC_58)
set_location shift_reg1_RNO_1[0] 4 5 0 # SB_LUT4 (LogicCell: shift_reg1_RNO_1[0]_LC_59)
set_location shift_reg1_RNO_2[0] 4 1 5 # SB_LUT4 (LogicCell: shift_reg1_RNO_2[0]_LC_60)
set_location shift_reg1_RNO_3[0] 4 4 6 # SB_LUT4 (LogicCell: shift_reg1_RNO_3[0]_LC_61)
set_location shift_reg1_RNO_4[0] 5 5 4 # SB_LUT4 (LogicCell: shift_reg1_RNO_4[0]_LC_62)
set_location shift_reg1_RNO_5[0] 5 4 7 # SB_LUT4 (LogicCell: shift_reg1_RNO_5[0]_LC_63)
set_location uut1.data_validation_RNO 9 5 2 # SB_LUT4 (LogicCell: uut1.data_validation_LC_64)
set_location uut1.data_validation 9 5 2 # SB_DFFR (LogicCell: uut1.data_validation_LC_64)
set_location uut1.modem_serial_data_RNO 8 2 5 # SB_LUT4 (LogicCell: uut1.modem_serial_data_LC_65)
set_location uut1.modem_serial_data 8 2 5 # SB_DFFS (LogicCell: uut1.modem_serial_data_LC_65)
set_location uut1.o_rx_data_RNIM6OA[0] 12 11 4 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNIM6OA[0]_LC_66)
set_location uut1.o_rx_data_RNIN7OA[1] 12 9 6 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNIN7OA[1]_LC_67)
set_location uut1.o_rx_data_RNIO8OA[2] 12 11 3 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNIO8OA[2]_LC_68)
set_location uut1.o_rx_data_RNIP9OA[3] 12 7 1 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNIP9OA[3]_LC_69)
set_location uut1.o_rx_data_RNIQAOA[4] 12 7 4 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNIQAOA[4]_LC_70)
set_location uut1.o_rx_data_RNIRBOA[5] 6 6 5 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNIRBOA[5]_LC_71)
set_location uut1.o_rx_data_RNISCOA[6] 2 7 7 # SB_LUT4 (LogicCell: uut1.o_rx_data_RNISCOA[6]_LC_72)
set_location uut1.o_rx_data_RNO[0] 9 7 2 # SB_LUT4 (LogicCell: uut1.o_rx_data[0]_LC_73)
set_location uut1.o_rx_data[0] 9 7 2 # SB_DFFR (LogicCell: uut1.o_rx_data[0]_LC_73)
set_location uut1.o_rx_data_RNO[1] 9 5 0 # SB_LUT4 (LogicCell: uut1.o_rx_data[1]_LC_74)
set_location uut1.o_rx_data[1] 9 5 0 # SB_DFFR (LogicCell: uut1.o_rx_data[1]_LC_74)
set_location uut1.o_rx_data_RNO[2] 9 5 1 # SB_LUT4 (LogicCell: uut1.o_rx_data[2]_LC_75)
set_location uut1.o_rx_data[2] 9 5 1 # SB_DFFR (LogicCell: uut1.o_rx_data[2]_LC_75)
set_location uut1.o_rx_data_RNO[3] 9 5 3 # SB_LUT4 (LogicCell: uut1.o_rx_data[3]_LC_76)
set_location uut1.o_rx_data[3] 9 5 3 # SB_DFFR (LogicCell: uut1.o_rx_data[3]_LC_76)
set_location uut1.o_rx_data_RNO[4] 9 7 5 # SB_LUT4 (LogicCell: uut1.o_rx_data[4]_LC_77)
set_location uut1.o_rx_data[4] 9 7 5 # SB_DFFR (LogicCell: uut1.o_rx_data[4]_LC_77)
set_location uut1.o_rx_data_RNO[5] 9 7 7 # SB_LUT4 (LogicCell: uut1.o_rx_data[5]_LC_78)
set_location uut1.o_rx_data[5] 9 7 7 # SB_DFFR (LogicCell: uut1.o_rx_data[5]_LC_78)
set_location uut1.o_rx_data_RNO[6] 8 7 7 # SB_LUT4 (LogicCell: uut1.o_rx_data[6]_LC_79)
set_location uut1.o_rx_data[6] 8 7 7 # SB_DFFR (LogicCell: uut1.o_rx_data[6]_LC_79)
set_location uut1.rx_data_RNO_0[3] 7 7 4 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[3]_LC_80)
set_location uut1.rx_data_RNO_0[4] 7 7 5 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[4]_LC_81)
set_location uut1.rx_data_RNO_0[5] 8 8 5 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[5]_LC_82)
set_location uut1.rx_data_RNO_0[6] 7 5 3 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[6]_LC_83)
set_location uut1.rx_data_RNO_0[7] 8 5 6 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[7]_LC_84)
set_location uut1.rx_data_RNO_0[8] 8 6 3 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[8]_LC_85)
set_location uut1.rx_data_RNO_0[9] 8 6 5 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_0[9]_LC_86)
set_location uut1.rx_data_RNO_1[3] 8 6 4 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[3]_LC_87)
set_location uut1.rx_data_RNO_1[4] 8 6 0 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[4]_LC_88)
set_location uut1.rx_data_RNO_1[5] 8 6 7 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[5]_LC_89)
set_location uut1.rx_data_RNO_1[6] 8 5 0 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[6]_LC_90)
set_location uut1.rx_data_RNO_1[7] 8 5 2 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[7]_LC_91)
set_location uut1.rx_data_RNO_1[8] 9 6 5 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[8]_LC_92)
set_location uut1.rx_data_RNO_1[9] 9 8 0 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_1[9]_LC_93)
set_location uut1.rx_data_RNO_2[6] 7 5 2 # SB_LUT4 (LogicCell: uut1.rx_data_RNO_2[6]_LC_94)
set_location uut1.rx_data_RNO[3] 8 7 4 # SB_LUT4 (LogicCell: uut1.rx_data[3]_LC_95)
set_location uut1.rx_data[3] 8 7 4 # SB_DFFR (LogicCell: uut1.rx_data[3]_LC_95)
set_location uut1.rx_data_RNO[4] 7 7 6 # SB_LUT4 (LogicCell: uut1.rx_data[4]_LC_96)
set_location uut1.rx_data[4] 7 7 6 # SB_DFFR (LogicCell: uut1.rx_data[4]_LC_96)
set_location uut1.rx_data_RNO[5] 8 7 5 # SB_LUT4 (LogicCell: uut1.rx_data[5]_LC_97)
set_location uut1.rx_data[5] 8 7 5 # SB_DFFR (LogicCell: uut1.rx_data[5]_LC_97)
set_location uut1.rx_data_RNO[6] 7 5 4 # SB_LUT4 (LogicCell: uut1.rx_data[6]_LC_98)
set_location uut1.rx_data[6] 7 5 4 # SB_DFFR (LogicCell: uut1.rx_data[6]_LC_98)
set_location uut1.rx_data_RNO[7] 7 5 6 # SB_LUT4 (LogicCell: uut1.rx_data[7]_LC_99)
set_location uut1.rx_data[7] 7 5 6 # SB_DFFR (LogicCell: uut1.rx_data[7]_LC_99)
set_location uut1.rx_data_RNO[8] 9 6 6 # SB_LUT4 (LogicCell: uut1.rx_data[8]_LC_100)
set_location uut1.rx_data[8] 9 6 6 # SB_DFFR (LogicCell: uut1.rx_data[8]_LC_100)
set_location uut1.rx_data_RNO[9] 9 7 4 # SB_LUT4 (LogicCell: uut1.rx_data[9]_LC_101)
set_location uut1.rx_data[9] 9 7 4 # SB_DFFR (LogicCell: uut1.rx_data[9]_LC_101)
set_location uut1.rx_data_ready_reg2_RNI5ULP 5 4 4 # SB_LUT4 (LogicCell: shift_reg2[0]_LC_102)
set_location shift_reg2[0] 5 4 4 # SB_DFF (LogicCell: shift_reg2[0]_LC_102)
set_location uut1.rx_sampling_clock_RNO 8 3 1 # SB_LUT4 (LogicCell: uut1.rx_sampling_clock_RNO_LC_103)
set_location uut1.rx_sampling_clock_RNO_0 8 3 0 # SB_LUT4 (LogicCell: uut1.rx_sampling_clock_RNO_0_LC_104)
set_location uut1.rx_sampling_clock_reg2_RNIL9O2 9 6 4 # SB_LUT4 (LogicCell: uut1.rx_sampling_clock_reg2_RNIL9O2_LC_105)
set_location uut1.rx_sampling_counter_RNI6JC31[3] 9 3 5 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter_RNI6JC31[3]_LC_106)
set_location uut1.rx_sampling_counter_RNO[0] 8 2 1 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter[0]_LC_107)
set_location uut1.rx_sampling_counter[0] 8 2 1 # SB_DFFR (LogicCell: uut1.rx_sampling_counter[0]_LC_107)
set_location uut1.rx_sampling_counter_RNO_0[2] 9 3 4 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter_RNO_0[2]_LC_108)
set_location uut1.rx_sampling_counter_RNO_0[3] 9 3 2 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter_RNO_0[3]_LC_109)
set_location uut1.rx_sampling_counter_RNO[1] 8 2 0 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter[1]_LC_110)
set_location uut1.rx_sampling_counter[1] 8 2 0 # SB_DFFR (LogicCell: uut1.rx_sampling_counter[1]_LC_110)
set_location uut1.rx_sampling_counter_RNO[2] 8 2 3 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter[2]_LC_111)
set_location uut1.rx_sampling_counter[2] 8 2 3 # SB_DFFR (LogicCell: uut1.rx_sampling_counter[2]_LC_111)
set_location uut1.rx_sampling_counter_RNO[3] 8 2 2 # SB_LUT4 (LogicCell: uut1.rx_sampling_counter[3]_LC_112)
set_location uut1.rx_sampling_counter[3] 8 2 2 # SB_DFFR (LogicCell: uut1.rx_sampling_counter[3]_LC_112)
set_location uut1.rx_sampling_start_RNIQNMM1 9 3 6 # SB_LUT4 (LogicCell: uut1.rx_sampling_start_RNIQNMM1_LC_113)
set_location uut1.rx_sampling_start_RNO 9 4 5 # SB_LUT4 (LogicCell: uut1.rx_sampling_start_LC_114)
set_location uut1.rx_sampling_start 9 4 5 # SB_DFFR (LogicCell: uut1.rx_sampling_start_LC_114)
set_location uut1.state_RNID38F[1] 8 6 6 # SB_LUT4 (LogicCell: uut1.state_RNID38F[1]_LC_115)
set_location uut1.state_RNIELAE[1] 8 5 7 # SB_LUT4 (LogicCell: uut1.state_RNIELAE[1]_LC_116)
set_location uut1.state_RNO[0] 9 5 6 # SB_LUT4 (LogicCell: uut1.state[0]_LC_117)
set_location uut1.state[0] 9 5 6 # SB_DFFS (LogicCell: uut1.state[0]_LC_117)
set_location uut1.state_RNO[1] 9 5 5 # SB_LUT4 (LogicCell: uut1.state[1]_LC_118)
set_location uut1.state[1] 9 5 5 # SB_DFFR (LogicCell: uut1.state[1]_LC_118)
set_location uut1.state_RNO[11] 8 7 0 # SB_LUT4 (LogicCell: uut1.state[11]_LC_119)
set_location uut1.state[11] 8 7 0 # SB_DFFR (LogicCell: uut1.state[11]_LC_119)
set_location uut1.state_RNO[2] 8 7 2 # SB_LUT4 (LogicCell: uut1.state[2]_LC_120)
set_location uut1.state[2] 8 7 2 # SB_DFFR (LogicCell: uut1.state[2]_LC_120)
set_location uut1.state_er_RNI3VKT[5] 8 5 5 # SB_LUT4 (LogicCell: uut1.state_er_RNI3VKT[5]_LC_121)
set_location uut1.state_er_RNI8D3K1[5] 7 7 3 # SB_LUT4 (LogicCell: uut1.state_er_RNI8D3K1[5]_LC_122)
set_location uut1.state_er_RNIV1A91[7] 8 6 2 # SB_LUT4 (LogicCell: uut1.state_er_RNIV1A91[7]_LC_123)
set_location uut2.serial_data_RNO 11 4 0 # SB_LUT4 (LogicCell: uut2.serial_data_LC_124)
set_location uut2.serial_data 11 4 0 # SB_DFFES (LogicCell: uut2.serial_data_LC_124)
set_location uut2.serial_data_RNO_0 11 3 0 # SB_LUT4 (LogicCell: uut2.serial_data_RNO_0_LC_125)
set_location uut2.serial_data_RNO_1 12 4 2 # SB_LUT4 (LogicCell: uut2.serial_data_RNO_1_LC_126)
set_location uut2.serial_data_RNO_2 12 4 1 # SB_LUT4 (LogicCell: uut2.serial_data_RNO_2_LC_127)
set_location uut2.serial_data_RNO_3 11 5 0 # SB_LUT4 (LogicCell: uut2.serial_data_RNO_3_LC_128)
set_location uut2.serial_data_RNO_4 12 4 5 # SB_LUT4 (LogicCell: uut2.serial_data_RNO_4_LC_129)
set_location uut2.state_RNO[0] 11 3 2 # SB_LUT4 (LogicCell: uut2.state[0]_LC_130)
set_location uut2.state[0] 11 3 2 # SB_DFFES (LogicCell: uut2.state[0]_LC_130)
set_location uut2.state_RNO[13] 11 3 3 # SB_LUT4 (LogicCell: uut2.state[13]_LC_131)
set_location uut2.state[13] 11 3 3 # SB_DFFER (LogicCell: uut2.state[13]_LC_131)
set_location from_ir_reg1_THRU_LUT4_0 6 2 5 # SB_LUT4 (LogicCell: from_ir_reg1_LC_132)
set_location from_ir_reg1 6 2 5 # SB_DFFE (LogicCell: from_ir_reg1_LC_132)
set_location from_ir_reg2_THRU_LUT4_0 6 2 4 # SB_LUT4 (LogicCell: from_ir_reg2_LC_133)
set_location from_ir_reg2 6 2 4 # SB_DFFE (LogicCell: from_ir_reg2_LC_133)
set_location shift_reg1_1_THRU_LUT4_0 4 4 1 # SB_LUT4 (LogicCell: shift_reg1[1]_LC_134)
set_location shift_reg1[1] 4 4 1 # SB_DFFE (LogicCell: shift_reg1[1]_LC_134)
set_location shift_reg1_10_THRU_LUT4_0 5 2 2 # SB_LUT4 (LogicCell: shift_reg1[10]_LC_135)
set_location shift_reg1[10] 5 2 2 # SB_DFFE (LogicCell: shift_reg1[10]_LC_135)
set_location shift_reg1_11_THRU_LUT4_0 5 2 5 # SB_LUT4 (LogicCell: shift_reg1[11]_LC_136)
set_location shift_reg1[11] 5 2 5 # SB_DFFE (LogicCell: shift_reg1[11]_LC_136)
set_location shift_reg1_12_THRU_LUT4_0 5 2 7 # SB_LUT4 (LogicCell: shift_reg1[12]_LC_137)
set_location shift_reg1[12] 5 2 7 # SB_DFFE (LogicCell: shift_reg1[12]_LC_137)
set_location shift_reg1_13_THRU_LUT4_0 4 2 0 # SB_LUT4 (LogicCell: shift_reg1[13]_LC_138)
set_location shift_reg1[13] 4 2 0 # SB_DFFE (LogicCell: shift_reg1[13]_LC_138)
set_location shift_reg1_14_THRU_LUT4_0 4 2 1 # SB_LUT4 (LogicCell: shift_reg1[14]_LC_139)
set_location shift_reg1[14] 4 2 1 # SB_DFFE (LogicCell: shift_reg1[14]_LC_139)
set_location shift_reg1_15_THRU_LUT4_0 5 2 4 # SB_LUT4 (LogicCell: shift_reg1[15]_LC_140)
set_location shift_reg1[15] 5 2 4 # SB_DFFE (LogicCell: shift_reg1[15]_LC_140)
set_location shift_reg1_2_THRU_LUT4_0 4 4 2 # SB_LUT4 (LogicCell: shift_reg1[2]_LC_141)
set_location shift_reg1[2] 4 4 2 # SB_DFFE (LogicCell: shift_reg1[2]_LC_141)
set_location shift_reg1_3_THRU_LUT4_0 4 4 3 # SB_LUT4 (LogicCell: shift_reg1[3]_LC_142)
set_location shift_reg1[3] 4 4 3 # SB_DFFE (LogicCell: shift_reg1[3]_LC_142)
set_location shift_reg1_4_THRU_LUT4_0 5 3 7 # SB_LUT4 (LogicCell: shift_reg1[4]_LC_143)
set_location shift_reg1[4] 5 3 7 # SB_DFFE (LogicCell: shift_reg1[4]_LC_143)
set_location shift_reg1_5_THRU_LUT4_0 5 3 5 # SB_LUT4 (LogicCell: shift_reg1[5]_LC_144)
set_location shift_reg1[5] 5 3 5 # SB_DFFE (LogicCell: shift_reg1[5]_LC_144)
set_location shift_reg1_6_THRU_LUT4_0 5 3 6 # SB_LUT4 (LogicCell: shift_reg1[6]_LC_145)
set_location shift_reg1[6] 5 3 6 # SB_DFFE (LogicCell: shift_reg1[6]_LC_145)
set_location shift_reg1_7_THRU_LUT4_0 4 2 2 # SB_LUT4 (LogicCell: shift_reg1[7]_LC_146)
set_location shift_reg1[7] 4 2 2 # SB_DFFE (LogicCell: shift_reg1[7]_LC_146)
set_location shift_reg1_8_THRU_LUT4_0 4 2 6 # SB_LUT4 (LogicCell: shift_reg1[8]_LC_147)
set_location shift_reg1[8] 4 2 6 # SB_DFFE (LogicCell: shift_reg1[8]_LC_147)
set_location shift_reg1_9_THRU_LUT4_0 4 2 7 # SB_LUT4 (LogicCell: shift_reg1[9]_LC_148)
set_location shift_reg1[9] 4 2 7 # SB_DFFE (LogicCell: shift_reg1[9]_LC_148)
set_location shift_reg2_1_THRU_LUT4_0 5 4 5 # SB_LUT4 (LogicCell: shift_reg2[1]_LC_149)
set_location shift_reg2[1] 5 4 5 # SB_DFF (LogicCell: shift_reg2[1]_LC_149)
set_location shift_reg2_10_THRU_LUT4_0 4 3 0 # SB_LUT4 (LogicCell: shift_reg2[10]_LC_150)
set_location shift_reg2[10] 4 3 0 # SB_DFF (LogicCell: shift_reg2[10]_LC_150)
set_location shift_reg2_11_THRU_LUT4_0 4 3 5 # SB_LUT4 (LogicCell: shift_reg2[11]_LC_151)
set_location shift_reg2[11] 4 3 5 # SB_DFF (LogicCell: shift_reg2[11]_LC_151)
set_location shift_reg2_12_THRU_LUT4_0 4 3 2 # SB_LUT4 (LogicCell: shift_reg2[12]_LC_152)
set_location shift_reg2[12] 4 3 2 # SB_DFF (LogicCell: shift_reg2[12]_LC_152)
set_location shift_reg2_13_THRU_LUT4_0 4 1 7 # SB_LUT4 (LogicCell: shift_reg2[13]_LC_153)
set_location shift_reg2[13] 4 1 7 # SB_DFF (LogicCell: shift_reg2[13]_LC_153)
set_location shift_reg2_14_THRU_LUT4_0 4 1 2 # SB_LUT4 (LogicCell: shift_reg2[14]_LC_154)
set_location shift_reg2[14] 4 1 2 # SB_DFF (LogicCell: shift_reg2[14]_LC_154)
set_location shift_reg2_15_THRU_LUT4_0 4 1 0 # SB_LUT4 (LogicCell: shift_reg2[15]_LC_155)
set_location shift_reg2[15] 4 1 0 # SB_DFF (LogicCell: shift_reg2[15]_LC_155)
set_location shift_reg2_16_THRU_LUT4_0 4 3 1 # SB_LUT4 (LogicCell: shift_reg2[16]_LC_156)
set_location shift_reg2[16] 4 3 1 # SB_DFF (LogicCell: shift_reg2[16]_LC_156)
set_location shift_reg2_17_THRU_LUT4_0 5 4 2 # SB_LUT4 (LogicCell: shift_reg2[17]_LC_157)
set_location shift_reg2[17] 5 4 2 # SB_DFF (LogicCell: shift_reg2[17]_LC_157)
set_location shift_reg2_18_THRU_LUT4_0 5 4 0 # SB_LUT4 (LogicCell: shift_reg2[18]_LC_158)
set_location shift_reg2[18] 5 4 0 # SB_DFF (LogicCell: shift_reg2[18]_LC_158)
set_location shift_reg2_19_THRU_LUT4_0 5 1 1 # SB_LUT4 (LogicCell: shift_reg2[19]_LC_159)
set_location shift_reg2[19] 5 1 1 # SB_DFF (LogicCell: shift_reg2[19]_LC_159)
set_location shift_reg2_2_THRU_LUT4_0 5 5 5 # SB_LUT4 (LogicCell: shift_reg2[2]_LC_160)
set_location shift_reg2[2] 5 5 5 # SB_DFF (LogicCell: shift_reg2[2]_LC_160)
set_location shift_reg2_3_THRU_LUT4_0 5 5 6 # SB_LUT4 (LogicCell: shift_reg2[3]_LC_161)
set_location shift_reg2[3] 5 5 6 # SB_DFF (LogicCell: shift_reg2[3]_LC_161)
set_location shift_reg2_4_THRU_LUT4_0 4 5 4 # SB_LUT4 (LogicCell: shift_reg2[4]_LC_162)
set_location shift_reg2[4] 4 5 4 # SB_DFF (LogicCell: shift_reg2[4]_LC_162)
set_location shift_reg2_5_THRU_LUT4_0 4 5 3 # SB_LUT4 (LogicCell: shift_reg2[5]_LC_163)
set_location shift_reg2[5] 4 5 3 # SB_DFF (LogicCell: shift_reg2[5]_LC_163)
set_location shift_reg2_6_THRU_LUT4_0 4 5 5 # SB_LUT4 (LogicCell: shift_reg2[6]_LC_164)
set_location shift_reg2[6] 4 5 5 # SB_DFF (LogicCell: shift_reg2[6]_LC_164)
set_location shift_reg2_7_THRU_LUT4_0 4 5 2 # SB_LUT4 (LogicCell: shift_reg2[7]_LC_165)
set_location shift_reg2[7] 4 5 2 # SB_DFF (LogicCell: shift_reg2[7]_LC_165)
set_location shift_reg2_8_THRU_LUT4_0 4 5 6 # SB_LUT4 (LogicCell: shift_reg2[8]_LC_166)
set_location shift_reg2[8] 4 5 6 # SB_DFF (LogicCell: shift_reg2[8]_LC_166)
set_location shift_reg2_9_THRU_LUT4_0 4 3 4 # SB_LUT4 (LogicCell: shift_reg2[9]_LC_167)
set_location shift_reg2[9] 4 3 4 # SB_DFF (LogicCell: shift_reg2[9]_LC_167)
set_location uut1.rx_data_ready_reg1_THRU_LUT4_0 9 4 0 # SB_LUT4 (LogicCell: uut1.rx_data_ready_reg1_LC_168)
set_location uut1.rx_data_ready_reg1 9 4 0 # SB_DFFR (LogicCell: uut1.rx_data_ready_reg1_LC_168)
set_location uut1.rx_data_ready_reg2_THRU_LUT4_0 9 4 6 # SB_LUT4 (LogicCell: uut1.rx_data_ready_reg2_LC_169)
set_location uut1.rx_data_ready_reg2 9 4 6 # SB_DFFR (LogicCell: uut1.rx_data_ready_reg2_LC_169)
set_location uut1.rx_sampling_clock_THRU_LUT4_0 9 2 0 # SB_LUT4 (LogicCell: uut1.rx_sampling_clock_LC_170)
set_location uut1.rx_sampling_clock 9 2 0 # SB_DFFER (LogicCell: uut1.rx_sampling_clock_LC_170)
set_location uut1.rx_sampling_clock_reg1_THRU_LUT4_0 9 7 6 # SB_LUT4 (LogicCell: uut1.rx_sampling_clock_reg1_LC_171)
set_location uut1.rx_sampling_clock_reg1 9 7 6 # SB_DFFR (LogicCell: uut1.rx_sampling_clock_reg1_LC_171)
set_location uut1.rx_sampling_clock_reg2_THRU_LUT4_0 9 7 0 # SB_LUT4 (LogicCell: uut1.rx_sampling_clock_reg2_LC_172)
set_location uut1.rx_sampling_clock_reg2 9 7 0 # SB_DFFR (LogicCell: uut1.rx_sampling_clock_reg2_LC_172)
set_location uut1.state_er_3_THRU_LUT4_0 7 6 7 # SB_LUT4 (LogicCell: uut1.state_er[3]_LC_173)
set_location uut1.state_er[3] 7 6 7 # SB_DFFER (LogicCell: uut1.state_er[3]_LC_173)
set_location uut1.state_er_4_THRU_LUT4_0 7 6 6 # SB_LUT4 (LogicCell: uut1.state_er[4]_LC_174)
set_location uut1.state_er[4] 7 6 6 # SB_DFFER (LogicCell: uut1.state_er[4]_LC_174)
set_location uut1.state_er_5_THRU_LUT4_0 7 6 5 # SB_LUT4 (LogicCell: uut1.state_er[5]_LC_175)
set_location uut1.state_er[5] 7 6 5 # SB_DFFER (LogicCell: uut1.state_er[5]_LC_175)
set_location uut1.state_er_6_THRU_LUT4_0 7 6 4 # SB_LUT4 (LogicCell: uut1.state_er[6]_LC_176)
set_location uut1.state_er[6] 7 6 4 # SB_DFFER (LogicCell: uut1.state_er[6]_LC_176)
set_location uut1.state_er_7_THRU_LUT4_0 7 6 1 # SB_LUT4 (LogicCell: uut1.state_er[7]_LC_177)
set_location uut1.state_er[7] 7 6 1 # SB_DFFER (LogicCell: uut1.state_er[7]_LC_177)
set_location uut1.state_er_8_THRU_LUT4_0 7 6 2 # SB_LUT4 (LogicCell: uut1.state_er[8]_LC_178)
set_location uut1.state_er[8] 7 6 2 # SB_DFFER (LogicCell: uut1.state_er[8]_LC_178)
set_location uut2.state_1_THRU_LUT4_0 12 3 1 # SB_LUT4 (LogicCell: uut2.state[1]_LC_179)
set_location uut2.state[1] 12 3 1 # SB_DFFER (LogicCell: uut2.state[1]_LC_179)
set_location uut2.state_10_THRU_LUT4_0 12 3 0 # SB_LUT4 (LogicCell: uut2.state[10]_LC_180)
set_location uut2.state[10] 12 3 0 # SB_DFFER (LogicCell: uut2.state[10]_LC_180)
set_location uut2.state_11_THRU_LUT4_0 11 2 1 # SB_LUT4 (LogicCell: uut2.state[11]_LC_181)
set_location uut2.state[11] 11 2 1 # SB_DFFER (LogicCell: uut2.state[11]_LC_181)
set_location uut2.state_2_THRU_LUT4_0 12 3 5 # SB_LUT4 (LogicCell: uut2.state[2]_LC_182)
set_location uut2.state[2] 12 3 5 # SB_DFFER (LogicCell: uut2.state[2]_LC_182)
set_location uut2.state_3_THRU_LUT4_0 12 3 7 # SB_LUT4 (LogicCell: uut2.state[3]_LC_183)
set_location uut2.state[3] 12 3 7 # SB_DFFER (LogicCell: uut2.state[3]_LC_183)
set_location uut2.state_4_THRU_LUT4_0 12 3 3 # SB_LUT4 (LogicCell: uut2.state[4]_LC_184)
set_location uut2.state[4] 12 3 3 # SB_DFFER (LogicCell: uut2.state[4]_LC_184)
set_location uut2.state_5_THRU_LUT4_0 12 3 2 # SB_LUT4 (LogicCell: uut2.state[5]_LC_185)
set_location uut2.state[5] 12 3 2 # SB_DFFER (LogicCell: uut2.state[5]_LC_185)
set_location uut2.state_6_THRU_LUT4_0 12 5 7 # SB_LUT4 (LogicCell: uut2.state[6]_LC_186)
set_location uut2.state[6] 12 5 7 # SB_DFFER (LogicCell: uut2.state[6]_LC_186)
set_location uut2.state_7_THRU_LUT4_0 12 5 5 # SB_LUT4 (LogicCell: uut2.state[7]_LC_187)
set_location uut2.state[7] 12 5 5 # SB_DFFER (LogicCell: uut2.state[7]_LC_187)
set_location uut2.state_8_THRU_LUT4_0 12 5 4 # SB_LUT4 (LogicCell: uut2.state[8]_LC_188)
set_location uut2.state[8] 12 5 4 # SB_DFFER (LogicCell: uut2.state[8]_LC_188)
set_location uut2.tx_data_0_THRU_LUT4_0 12 5 2 # SB_LUT4 (LogicCell: uut2.tx_data[0]_LC_189)
set_location uut2.tx_data[0] 12 5 2 # SB_DFFER (LogicCell: uut2.tx_data[0]_LC_189)
set_location uut2.tx_data_1_THRU_LUT4_0 12 5 1 # SB_LUT4 (LogicCell: uut2.tx_data[1]_LC_190)
set_location uut2.tx_data[1] 12 5 1 # SB_DFFER (LogicCell: uut2.tx_data[1]_LC_190)
set_location uut2.tx_data_2_THRU_LUT4_0 12 5 6 # SB_LUT4 (LogicCell: uut2.tx_data[2]_LC_191)
set_location uut2.tx_data[2] 12 5 6 # SB_DFFER (LogicCell: uut2.tx_data[2]_LC_191)
set_location uut2.tx_data_3_THRU_LUT4_0 12 5 3 # SB_LUT4 (LogicCell: uut2.tx_data[3]_LC_192)
set_location uut2.tx_data[3] 12 5 3 # SB_DFFER (LogicCell: uut2.tx_data[3]_LC_192)
set_location uut2.tx_data_4_THRU_LUT4_0 12 6 6 # SB_LUT4 (LogicCell: uut2.tx_data[4]_LC_193)
set_location uut2.tx_data[4] 12 6 6 # SB_DFFER (LogicCell: uut2.tx_data[4]_LC_193)
set_location uut2.tx_data_5_THRU_LUT4_0 12 5 0 # SB_LUT4 (LogicCell: uut2.tx_data[5]_LC_194)
set_location uut2.tx_data[5] 12 5 0 # SB_DFFER (LogicCell: uut2.tx_data[5]_LC_194)
set_location uut2.tx_data_6_THRU_LUT4_0 11 6 3 # SB_LUT4 (LogicCell: uut2.tx_data[6]_LC_195)
set_location uut2.tx_data[6] 11 6 3 # SB_DFFER (LogicCell: uut2.tx_data[6]_LC_195)
set_location GB_BUFFER_clk_in_c_g_THRU_LUT4_0 5 1 0 # SB_LUT4 (LogicCell: GB_BUFFER_clk_in_c_g_THRU_LUT4_0_LC_196)
set_location GB_BUFFER_rst_count_i_g_19_THRU_LUT4_0 5 1 3 # SB_LUT4 (LogicCell: GB_BUFFER_rst_count_i_g_19_THRU_LUT4_0_LC_197)
set_location rst_count_1_cry_1_c 6 3 0 # SB_CARRY (LogicCell: rst_count_1_cry_1_c_LC_198)
set_location un3_clk_count_cry_1_c 8 4 0 # SB_CARRY (LogicCell: un3_clk_count_cry_1_c_LC_199)
set_location un5_count_ext_cry_1_c 7 1 0 # SB_CARRY (LogicCell: un5_count_ext_cry_1_c_LC_200)
set_io CLKOS_RNI7KOJ1_0 6 0 1 # ICE_GB
set_location GND -1 -1 -1 # GND
set_io clk_in_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io count_RNIH42R1_0[2] 13 8 1 # ICE_GB
set_io from_ir_ibuf 13 15 0 # ICE_IO
set_io i_serial_data_ibuf 1 17 0 # ICE_IO
set_io ice_pll_inst.PLLOUTCORE_derived_clock_RNIPF83 6 17 1 # ICE_GB
set_location ice_pll_inst.ice_pll_inst 6 0 1 # SB_PLL40_CORE
set_io led_obuf[0] 13 12 1 # ICE_IO
set_io led_obuf[1] 13 12 0 # ICE_IO
set_io led_obuf[2] 13 11 1 # ICE_IO
set_io led_obuf[3] 13 11 0 # ICE_IO
set_io led_obuf[4] 13 9 1 # ICE_IO
set_io led_obuf[5] 0 6 0 # ICE_IO
set_io led_obuf[6] 0 8 0 # ICE_IO
set_io led_obuf[7] 0 2 0 # ICE_IO
set_io o_serial_data_obuf 0 12 0 # ICE_IO
set_io rst_count_RNI3HF2_0[19] 0 8 1 # ICE_GB
set_io rst_count_RNIVN0T1_0[20] 0 9 0 # ICE_GB
set_io sd_obuf 13 15 1 # ICE_IO
set_io test1_obuf 4 0 1 # ICE_IO
set_io test2_obuf 5 0 0 # ICE_IO
set_io test3_obuf 5 0 1 # ICE_IO
set_io to_ir_obuf 4 17 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 7 4 3 # SB_LUT4 (LogicCell: LC_201)
